#fight {
    background-image: url('img/map_battle/fond4.png');
    position: absolute;
    z-index: -99;
    width: 640px;
    height: 576px;
    left: 250px;
}

.pokemon_battle{
    position: relative;
}

.pokemon_battle1 {
    left: 100px;
    top: 280px;
}

.pokemon_battle2 {
    left: 291px;
    top: 47px;
}

.pokemon_attaque {
    position: relative;
    width: 250px;
    height: 120px;
    top: 291px;
    background-color: #F8F8F8;
    display: flex;
    flex-wrap: wrap;
    border: 6px solid #706880;
    text-transform: uppercase;
}

.pokemon_attaque_1, .pokemon_attaque_2, .pokemon_attaque_3, .pokemon_attaque_4 {
    width: 125px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon_attaque_1:hover, .pokemon_attaque_2:hover, .pokemon_attaque_3:hover, .pokemon_attaque_4:hover {
    cursor: pointer;
}

.pokemon_fight_chat {
    position: relative;
    width: 372px;
    height: 120px;
    top: -4px;
    left: 257px;
    background-color: #F8F8F8;
    border: 6px solid #706880;
    overflow-y: scroll;
}

.pokemon_fight_chat_row {
    margin: 8px;
    font-size: 14px;
}
.myChat {
    color: blue;
}

.pokemon_info {
    position: relative;
    background-color: #F8F8D8;
    border: 5px solid #505050;
    border-radius: 5px;
}

.pokemon_info_1 {
    width: 260px;
    height: 84px;
    top: 29px;
    left: 363px;
}

.pokemon_info_2 {
    width: 260px;
    height: 60px;
    top: -360px;
    left: 30px;
}
.pokemon_info_name {
    margin: 7px 10px;
    text-transform: uppercase;
}
.pokemon_info_1_pv {
    width: 220px;
    height: 10px;
}

.pokemon_info_2_pv {
    width: 220px;
    height: 10px;
}
.pokemon_info_pv_base {
    background-color: grey;
    margin: 10px auto 0 10px;
    width: 220px;
    border-radius: 5px;
}
.pokemon_info_pv {
    background-color: #70F8A8;
    border-radius: 5px;
    transition: 0.5s;
}
.pokemon_info_pv_value {
    text-align: right;
    margin: 6px 20px 0 0;
}